.bod{
  background-image:url(Image/rising.jpg);
  background-repeat:no-repeat;
  background-size: 100% 100%;
}
.header{
	background: #ffffff;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1%;
	padding-bottom: 2%;
	color: #FFD750;
	font-family: cursive;
	border-radius: 50%;
}
table .ali{
	padding-left: 5px;
	padding-right: 5px;
}
.heading{
	background-color: yellow;
	width: 99%;
	border-radius: 2px;
	font-weight: 600;
}
.projects{
	width: 99%;
	background-color: #f1ffff;
	font-family: Lucida Handwriting;
	padding-top: 1%;
	text-align: center;
}
.foot{
	color: #88ff88;
	background-color: blue;
	font-size: 150%;
	padding-left: 10%;
	border-color: #88ff88;
	border-width: 5%;
	border-radius: 10% 10% 0% 0%;
}
#iframe{
	background-color: blue;
	margin-left: 5%;
	color: white;
	font-size: 200%;
	text-align: left;
	padding-left: 10%;
	text-decoration: none;
	font-family: cursive;
	font-weight: 600;
}
